/* .heroes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
} */
.heroes {
  width: 100%;
  display: grid;
  grid-auto-rows: 170px;
  grid-template-columns: repeat(auto-fit, 200px);
  gap: 10px;
  justify-content: center;
}
.hero-card {
  position: relative;
  min-width: 150px;
  padding: 10px;
  background: rgb(31, 28, 28);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
}
.hero-card::after {
  content: '';
  background: rgb(92, 21, 21);
  border-radius: 25px;
  position: absolute;
  inset: 0;
  transform-origin: bottom;
  transform: scaleY(0);
  z-index: -1;
}
.hero-link {
  display: flex;
  color: white;
  text-decoration: none;
  margin-top: 15px;
}
.hero-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.hero-card:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}
.hero-card:hover::after {
  transform: scaleY(1);
  transition: 0.3s ease;
}
