.mobile-nav {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 5;
  /* transform: translateY(-100%); */
  opacity: 0;
  visibility: hidden;
  transition: 0.7s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.open {
  /* transform: translateY(0%); */
  opacity: 1;
  visibility: visible;
}
