nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  background: none;
}
.links {
}
