nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
  z-index: 5;
}
.links {
}
.logo {
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  letter-spacing: 0.3em;
}
.link {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 20px;
  font-weight: bold;
  font-size: 20px;
}
.link::after {
  content: '';
  display: block;
  background: rgb(112, 0, 0);
  width: 0%;
  height: 3px;
}
.link:hover::after {
  transition: 0.5s ease;
  width: 100%;
}
.active {
  color: rgb(143, 0, 0);
}
