.teams {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.team-row {
}
.team-row img {
  height: 30px;
  width: 30px;
}
