.teams {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
table {
  color: white;
  max-width: 700px;
  width: 100%;
  border-collapse: collapse;
}
.team-row img {
  height: 30px;
  width: 30px;
}
th {
  padding: 15px 20px;
}
.table thead {
  border-radius: 15px 15px 0 0;
}
th,
td {
  color: white;
  background: rgb(51, 51, 51);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.table tr:hover {
  background: rgba(255, 255, 255, 0.1);
}
