@import url('https://fonts.googleapis.com/css2?family=Candal&family=Electrolize&family=Shrikhand&display=swap');
/* font-family: 'Candal', sans-serif;
font-family: 'Electrolize', sans-serif;
font-family: 'Shrikhand', cursive; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --c-dota: rgb(92, 21, 21);
  --c-lighten: rgb(202, 56, 56);
  --c-bg: radial-gradient(
    circle,
    rgba(51, 51, 51, 1) 91%,
    rgba(74, 74, 74, 1) 94%,
    rgba(11, 6, 1, 1) 100%,
    rgba(0, 0, 0, 1) 100%
  );
}
.app {
  background: rgb(51, 51, 51);
  background: radial-gradient(
      circle,
      rgba(51, 51, 51, 1) 91%,
      rgba(74, 74, 74, 1) 94%,
      rgba(11, 6, 1, 1) 100%,
      rgba(0, 0, 0, 1) 100%
    )
    center fixed;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tab {
  min-height: 100vh;
  overflow: hidden;
}
.comp {
  padding: 80px 20px 30px 20px;
}
.loading {
  color: aliceblue;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-dota);
}
/* section {
  min-height: 100vh;
  background: var(--c-bg);
} */
